@import "modules/variables";
@import "modules/mixins";
@import "modules/prism-bb";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  background: white;
}

.m-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.m-section {
  max-width: 1200px;
  width: 100%;
  padding: 3rem 1rem;


  h2 {

  }

  p {

  }

}

.m-example {
  margin: 1rem 0 4rem;
  border: 1px solid $grey-light;
  .radio,
  .progress {
    display: block;
  }
  .btn:not(.btn-block) {
    margin: .25rem;
  }
}

.m-example--demo {
  position: relative;
  padding: 2rem;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    background: $grey-lighter;
    color: $grey;
    font-weight: bold;
    font-size: .75rem;
    border-bottom: 1px solid $grey-light;
    border-left: 1px solid $grey-light;
    border-radius: 0 0 0 3px;
    padding: .125rem .75rem;
    content:'DEMO';
  }

}

.m-example--code {
  background: $grey-lighter;
  border-top: 1px solid $grey-light;
  padding: 1rem;
  position: relative;
  &:before {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    color: $grey;
    font-weight: bold;
    font-size: .75rem;
    border-top: 1px solid $grey-light;
    border-left: 1px solid $grey-light;
    border-radius: 3px 0 0 0;
    padding: .125rem .75rem;
    content:'CODE';
  }
  code,
  pre {
    margin-bottom: 0;
  }
}


.m-title {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.m-subtitle {
  font-size: 1.25rem;
}

.m-colors {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;

  li {
    flex: 1 1;
    display: flex;
    flex-direction: column;
  }

}

.m-color-tile {
  height: 80px;
  width: 100%;
  background-color: black;
  &.grey-darker   { background-color: $grey-darker; }
  &.grey-dark     { background-color: $grey-dark; }
  &.grey          { background-color: $grey; }
  &.grey-light    { background-color: $grey-light; }
  &.grey-lighter  { background-color: $grey-lighter; }
  &.white         { background-color: white; }

  &.blue  { background-color: $blue; }
  &.green  { background-color: $green; }
  &.orange  { background-color: $orange; }
  &.red  { background-color: $red; }
  &.purple  { background-color: $purple; }

}


.m-modal-example {
  width: 100%;
  min-height: 600px;
  position: relative;

  .modal-backdrop {
    position: absolute;
  }
  .modal {
    display: block;
    position: absolute;
  }
}
