bower_components
node_modules
temp
.tmp
dist
./*.crx
.sass-cache
.grunt
test/bower_components
package
.idea
app/scripts/extension/modules/templates.js
app/css
app/fonts
.DS_Store
*.zip
*-pack.js

*.sublime-project
*.sublime-workspace
