$modal-transition-duration: 300ms;

.hide {
  display: none !important;
}

.fade {
  opacity: 0;
  transition: $modal-transition-duration linear opacity, color;
  &.in {
    opacity: 1;
  }
}

.modal {
  font-family: $font-family-sans-serif;
  color: $gray;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  text-align: left;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    transform: translateY(-25%);
    transition: $modal-transition-duration ease-out transform;
  }
  &.in .modal-dialog {
    transform: translateY(0);
  }


}



$modal-padding: 32px;
$modal-inner-padding: 16px;

.modal-header,
.modal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: $modal-inner-padding $modal-padding;
}


.modal-header {
  border-bottom-width: 1px;
  padding: 0 0 0 $modal-padding;
  //border-bottom: 1px solid darken($gray-lighter, 5);
}

.modal-footer {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  //background-color: $gray-lighter;
  //border-top: 1px solid darken($gray-lighter, 8);
}

.flex-col {
  flex-direction: column;
}


.modal-title {
  font-size: 22px;
  flex: 1 1;
  text-align: left;
  color: $text-color;
}

.icon-svg {
  width: 40px;
  height: 40px;
  margin: 0 $modal-inner-padding / 2 0 0;
  fill: $green;
}

.modal-close {
  color: $gray-light;
  transition: $trans-duration $trans-timing color;
  flex: 0 0 auto;
  cursor: pointer;
  padding: $modal-padding * .75 $modal-padding;
  &:hover {
    color: $gray;
  }
}

.modal-body {
  padding: 0 $modal-padding;
  p {
    margin: $modal-inner-padding 0;
    padding: 0;
    &:last-child {
      padding-bottom: 0
    }
  }
}

.small {
  font-size: 14px;
}

.modal-form {

}

.form--input {
  padding: 16px;
  font-size: 18px;
  color: $text-color;
  border-radius: 3px;
  border: 1px solid rgba($gray-light, .5);
  background-color: rgba($blue, 0);
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-property: border, background-color;
  &:focus {
    outline: 0;
  }
  &::-webkit-input-placeholder {
    color: darken($gray-lighter, 17);
    text-shadow: 1px 1px 0 white;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: darken($gray-lighter, 17);
    text-shadow: 1px 1px 0 white;
  }

  &:-ms-input-placeholder {
    color: darken($gray-lighter, 17);
    text-shadow: 1px 1px 0 white;
  }
}

// Input Group

$input-group-border-color: lighten(#000, 75.7%);
.input-group {
  display: flex;
  align-items: stretch;

  .input {
    flex: 1 1 auto;
    margin-bottom: 0;
    border: 1px solid $input-group-border-color;
    border-radius: 0 3px 3px 0;

    order: 3;
    &:focus,
    &:focus + .input-group-addon {
      border-color: darken($input-group-border-color, 10);

      + .input-group-addon {
        background-color: lighten($blue, 38);
        color: $blue;
      }
    }
  }

  .input-group-addon {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    order: 1;
    border: 1px solid $input-group-border-color;
    color: $gray-light;
    padding: 10px $modal-inner-padding 0;
    border-right: none;
    border-radius: 3px 0 0 3px;
    background-color: darken($gray-lighter, 3);
    text-shadow: 1px 1px 0 white;
    font-size: 24px;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transition-property: border, background-color, color;
    .fa {
      transform: translateY(-6px);
    }
  }
}

.input--sub-info {
  color: lighten($gray-light, 25);
  padding: $modal-inner-padding / 2 0 $modal-inner-padding / 2 72px;
  font-size: 14px;
  text-align: left;
  display: flex;
}

.variable-name {
  font-weight: bold;
  color: $green;
}

.variable-content {
  //color: lighten($gray-light, 15);
  padding-left: 6px;
}

.variable-arrow {
  transform: translateY(-3px) rotateY(180deg);
  padding: 0 $modal-inner-padding / 2 0 $modal-inner-padding / 4 ;
}

.modal-actions {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  flex: 0 0 auto;
  order: 20;
  .flex-col & {
    justify-content: flex-end;
  }
}

.btn-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }

}

.btn-sublabel {
  color: $grey-light;
  font-style: italic;
  font-size: 12px;
  margin-top: 4px;
}

.modal-subactions {
  font-size: 12px;
  color: $gray-light;
  margin: 0;
  padding: 0 $modal-inner-padding 0 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  order: 10;
  .flex-col & {
    order: 30;
    align-items: flex-end;
    justify-content:flex-end;
    margin-top: $modal-inner-padding / 2;
  }

  a,
  a:link
  a:visited {
    color: inherit;
    &:hover {
      color: $gray-light;
    }
  }
}

.modal-title {
  margin: 0;
  padding: 0;
}

.modal-form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

//
// Modals
// --------------------------------------------------

// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 3px;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  background-clip: padding-box;

  width: 90%;
  max-width: 600px;

  // Remove focus outline from opened modal
  outline: 0;


}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  // Fade for backdrop
  &.fade { opacity: 0; }
  &.in { opacity: .5; }
}

// Modal header
// Top section of the modal w/ title and dismiss

// Close icon
.modal-header .close {
  margin-top: -2px;
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.flex-shrink {
  flex: 0 0 auto;
}



// Alert

.alert,
%alert {

  border: 1px solid $blue;
  padding: $modal-inner-padding;
  margin: $modal-inner-padding 0;
  background-color: lighten($blue, 36);
  color: $blue;
  border-radius: 3px;
}

.alert__warning {
  @extend %alert;
  border-color: $orange;
  background-color: lighten($orange, 40);
  color: $orange;
}

.modal-dl {
  margin: 0 0 $modal-inner-padding;
  padding: 0;
  dt {
    font-size: 18px;
    color: $gray-dark;
  }
  dd {
    padding-left: 24px;
  }
}
